h1{
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
html{
	align-content: center;
	text-align: center;
}

body {
  background-image: url('/img/background.jpg');
   font-family: cursive;
}

.formulaire[type=text], select {
  width: 27%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulaire[type=password], select {
  width: 27%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulaire[type=email], select {
  width: 27%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulaire[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulaire[type=submit]:hover {
  background-color: #45a049;
}

.buttonform:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card{
	width: 200px;
}



html,body{
  height: 100%;
  background-color: lightgrey;
  over-flow: hidden;
}
h1{
  font-size:1.5em;
  text-transform: uppercase;
  margin: 8px;
  padding: 0 24px;
}

#store{
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
  overflow-y: auto;
}
#cart{
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 0 0 60px;
  overflow: hidden;
}
#cart>ul{
  position: relative;
  height: 100%;
  margin: 0;
  overflow-y: auto;
}
#cart>ul>li{
  background-color: white;
  padding:8px;
  margin: 1px 0 0;
  cursor: pointer;
  overflow: hidden;
}
#cart>ul>li:not(.removing):hover:after{
  position: absolute;
  content: "x";
  right: 0;
  color: white;
  background-color: #f44336;
  height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 12px;
  margin-right: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px;
}


#pay{
  position: absolute;
  display: block;
  height: 60px;
  line-height:60px;
  width: 100%;
  bottom: 0;
  cursor: pointer;
  text-align: center;
}

.card-title{
  text-shadow: 0 0 24px black;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}